/*HERO*/

.hero {
  text-align: center;
  margin-bottom: 0;
}
.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;

  color: $color-primery-bcg;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.6;
    width: 360px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.4;
    width: 696px;
  }
}

.hero__overlay {
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767px) {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/mobile/header/header-480.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-ressolution: 2 dppx) {
  .hero__overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/mobile/header/header-960.png");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__overlay {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/tablet/header-768img.png");
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-ressolution: 2 dppx) {
    .hero__overlay {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/tablet/header-1536img@2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

@media screen and(min-width: 1200px) {
  .hero__overlay {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/desktop/header-1600px.png");
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-ressolution: 2 dppx) {
    .hero__overlay {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/tablet/header-3200px.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}
